.container {

}

.keyboard {
  
}

.keys {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
}


.key {
    border-style: inset;
    background:burlywood;
}
.game-menu{
    display: flex;
}